.wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  background-color: #a3effd;
  min-height: 100vh;
  font-family: 'Georgia', serif;
}

.main-page {
  flex: content;
  padding: 1em;
  font-size: 1.5em;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
}

/* Inputs */

label {
  display: flex;
  flex-direction: row;
}

select {
  margin-left: 0.5em;
  font-size: 1em;
}

input {
  margin-left: 0.5em;
  font-size: 0.7em;
}

.currency {
  position: relative;
  left: 0.5em;
  width:1em;
}

/* Misc */
#graph{
  width: 600px;
  margin-right: 25px;
}